# Deployment side-effects
result
result-*

# Python
.venv/
venv/
__pycache__/
*.pyo
*.pyc
*.egg-info

# Rust
target/

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# IntelliJ
.idea/
.fleet/

# Output from Karsk
staging/

# MkDocs
site/

# karsk-enter side-effects
.bash_history

# Karsk Web
karsk-web.json
